@import url(./header.css);
@import url(./HeroSection.css);
@import url(./projectCardSection.css);
@import url(./TechnologySection.css);
@import url(./TechnologiesIndexSection.css);
@import url(./formData.css);
@import url(./footer.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  padding-top: 1px;
}

.goToTop{
  padding: 50px 20px;
  border-radius: 100%;
  border: 1px solid;
  position: fixed;
  right: 10px;
  bottom: 0vh;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  background-color: #fff;
  color: black;
  z-index:70;
}